.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem 10%;
  background: var(--bg-color);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-text p {
  font-size: 0.9rem;
}

.footer-socials a {
  font-size: 1.5rem;
  color: var(--main-color);
  margin-left: 1.5rem;
  transition: 0.3s;
}

.footer-socials a:hover {
  color: var(--text-color);
  transform: translateY(-5px);
}